.simplesearch-form-selector label {
  display: inline;
  margin-left: .5em;
}

.simplesearch-form-selector > div > * {
  vertical-align: middle;
}

.simplesearch-form-selector > div {
  display: inline-block;
  margin-right: .75em;
}

.simplesearch-form-wrapper {
  margin-top: 10px;
}
